/** tüm html margin ve pading'lerini sıfırla */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: aquamarine;
  margin: 10px;
  padding: 20px;
  text-align: center;
}
.div {
  background-color: yellow;
  /* margin-bottom: 10px;
  margin-top: 20px; */
  padding: 20px;
  /* width: 50%; */
  width: 150px;
  text-align: center;
  margin: 20px auto;
  border: 10px solid purple;
}
hr {
  margin: 30px 10px;
}
h2 {
  opacity: 50%;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  /* text-align: center; */
  width: 100px;
  margin-right: 10px;
  padding-top: 20px;
  background-color: blueviolet;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
ul {
  text-align: center;
}
.nav li:hover {
  background-color: brown;
  cursor: pointer;
  color: beige;
  font-weight: 700;
}
