* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.as {
  margin-top: 1rem;
  float: left;
}

main {
  text-align: center;
  margin: 15% 30%;
  display: inline-block;
}
.gi {
  /* display: inline-block; */
  height: 48px;
  width: 290px;
  float: right;
  margin-top: 1rem;
}
.but {
  width: 580px;
}

.voice {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.searchlogo {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  /* border: 5px solid red ; */
}
a {
  height: 24px;
  width: 50px;
  padding: 0 0 0 15px;
  color: Black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  size: 14px;
}

div.gi button {
  height: 36px;
  width: 96px;
  min-width: 96px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  background-color: #1b66c9;
  border-radius: 10%;
  border-style: none;
}

div.gi img {
  height: 40px;
  width: 40px;
  padding: 4px;
  vertical-align: middle;
}
.search {
  display: inline-block;
  outline-style: none;
}
.bar {
  border-style: none;
}
.searchBar {
  border: 0px solid grey;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 15px 1px;
  width: 470px;
  height: 35px;
  margin: auto;
  border-radius: 25px;
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
#bar {
  height: 35px;
  width: 380px;
  border: none;
  outline-style: none;
  vertical-align: middle;
}
.bar::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  content: "\f002";
  padding: 5px;
}
div.search img {
  max-height: 4000px;
  min-height: 150px;
  min-width: 500;
}

input {
  height: 34px;
  width: 443px;
}

div.but button {
  height: 36px;
  width: 160px;
  border: 1px solid#dadce0;
  display: inline;
  text-align: center;
  font-size: 14px;
  line-height: 5px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 10%;
}
.count {
  margin-bottom: 0.5rem;
}
.count p {
  color: grey;
  font-size: 17px;
  display: inline-block;
  font-size: small;
}
.lang a {
  text-decoration: underline;
  color: navy;
}
.lang {
  margin-top: 1rem;
  font-size: small;
}

footer {
  width: 100%;
  position: fixed;
  padding: 10px;
  bottom: 10px;
  background-color: #f2f2f2;
}
.left {
  /* display: inline-block; */
  float: left;
  font-size: small;
}

.right {
  /* display: inline-block; */
  float: right;
  font-size: small;
}

#right a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: grey;
}

#right a:hover {
  text-decoration: underline;
}

#left a {
  padding-right: 10px;
  text-decoration: none;
  color: grey;
}

#left a:hover {
  text-decoration: underline;
}
hr {
  margin-bottom: 10px;
  color: grey;
  opacity: 0.2;
}
